################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/.vs/projet_dev_backend/FileContentIndex/5b2b8029-3712-452a-9066-a0152383928d.vsidx
