@model IEnumerable<projet_dev_backend.Models.Endereco_Vaga>

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header>
        <!-- Seu formulário de pesquisa aqui -->
    </header>

    <div class="image-grid">
        @foreach (var vaga in Model)
        {
            <div class="image-item">
                <img src="~/ImagemVaga/@vaga.ImagemNome" alt="Imagem da vaga" />
                <div class="image-caption">
                    <p><span class="adress">@vaga.Cidade, @vaga.UF</span></p>
                    <p>@vaga.Data.ToString("dd-MM-yyyy")</p>
                    <p><span class="price">R$@vaga.Valor diária</span></p>
                </div>
            </div>
        }
    </div>
</body>
